# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
logs/
*.log
debug.log
error.log
*.pid
*.seed
*.pid.lock

# OS-specific files
.DS_Store
Thumbs.db

# Environment Variables
.env
.env.local
.env.*.local

# Test Coverage
coverage/

# Build Output
build/
dist/

# IDEs and Editors
.vscode/
.idea/
*.swp

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Other
*.tgz
*.bak
*.tmp
*.temp
